.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: green;
  position: relative;
  z-index: 5;
  padding: 0 20px;

  .left {
    display: flex;
    justify-content: flex-start;
  }

  .right {
    display: flex;
    justify-content: flex-end;
  }
}